<h1><%= @list.name %></h1>
<h3>Movies</h3>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <p><%= bookmark.comment %></p>
      <p><%= Movie.find(bookmark.movie_id).title %></p>
      <%= image_tag(Movie.find(bookmark.movie_id).poster_url, style: 'height: 100px; width: auto;') %>
      <p><%= Movie.find(bookmark.movie_id).overview %></p>
      <p><%= Movie.find(bookmark.movie_id).rating %></p>
      <%= link_to "Delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>
<%= link_to "Back", lists_path %>
