<div class="banner">
  <div class="container text-center">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container py-4">
  <div class="d-flex flex-row-reverse mb-4">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <% @bookmarks.each do |bookmark| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag(Movie.find(bookmark.movie_id).poster_url, class: "card-img-top", height: 300) %>
        <div class="card-body">
          <div class="d-flex">
            <h5 class="card-title flex-grow-1"><%= Movie.find(bookmark.movie_id).title %></h5>
            <p><%= Movie.find(bookmark.movie_id).rating %></p>
            <i class="fa-solid fa-star"></i>
          </div>
          <p class="card-text"><%= Movie.find(bookmark.movie_id).overview %></p>
          <div class="d-flex">
            <i class="fa-solid fa-quote-left"></i>
            <p class="card-text"><em><%= bookmark.comment %></em></p>
          </div>
          <%= link_to "", bookmark_path(bookmark), class: " d-flex flex-row-reverse fa-solid fa-trash-can", data: { turbo_method: :delete, turbo_confirm: "Really?" } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="container py-4">
  <h3>Reviews</h3>
  <div class="d-flex flex-row-reverse mb-4">
    <%= link_to "Add a review", new_list_review_path(@list), class: "btn btn-primary" %>
  </div>
  <%= @reviews.each do |review| %>
    <%= review.rating %>
    <%= review.content %>
  <% end %>
</div>
